*{
  box-sizing: border-box;
}
html {
  height: 100%;
}
img {
  display: block;
}
body {
  font-family: "", "Arial", sans-serif;
  font-weight: ;
  background-image: url("");
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
/* Header section started */
form {
margin: 200px auto;
}
.chec-input {
  display: none;
}
.chec__span {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 120px;
  background-image: url("./images/luna.jpg");
  background-size: contain;
  border-radius: 60px;
}
.chec__span::before {
  position: absolute;
  margin-left: 10px;
  top: 10px;
  height: 10px;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(./images/tun.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #fff;
  content: "";
}
.chec-input:checked + .chec__span {
  background-image: url("./images/dey.jpg");
}
.chec-input:checked + .chec__span::before {
  left: 80px;
  background-image: url(./images/ertalab.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* Header section finished */
/* Main section started */
/* Hero section started */

/* Hero section finished */
/* Section started */

/* Section fininsed */
/* Main section finished */
/* Footer section started */

/* Footer section finished */